.header {
  text-align: center;
  margin: 20px;
  padding: 20px;
  text-decoration: overline;
  text-transform: uppercase;
}
.main {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
  padding: 40px;
  flex-wrap: wrap;

  .heading {
    text-decoration: underline;
    flex-wrap: wrap;
  }
}

.about {
  border: double 6px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, purple, orange);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 610px;
  height: 440px;
  text-align: center;
  color: black;
  box-shadow: 10px 10px #f1edff;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}
