.input {
  border-radius: 5px;
}

.addButton {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #030303;
  color: white;
  transition-duration: 0.5s;
}

.addButton:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}
