.main {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  border-radius: 5px;
  background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  width: 310px;
  height: 540px;
  text-align: center;
  color: black;
  box-shadow: 10px 10px #f1edff;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}

.createLocation {
  border-radius: 5px;
  background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  width: 310px;
  height: 540px;
  text-align: center;
  color: black;
  box-shadow: 10px 10px #f1edff;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}
