.locationCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  flex-direction: column-reverse;
}

.locationCardDetails {
  border-radius: 5px;
  background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  color: black;
  box-shadow: 5px 5px #f1edff;
  text-transform: uppercase;
  width: 650px;
  text-decoration: none;
  text-align: center;
}
