@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}

.locationCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  flex-direction: column-reverse;
}

.locationCardDetails {
  width: 500px;
  height: 200px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  border: double 6px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, purple, orange);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 5px 10px black;
  flex-wrap: wrap;
}

.locations {
  overflow: scroll;
  height: 650px;
}
