.locationCard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  flex-direction: column-reverse;
}

.locationCardDetails {
  width: 600px;
  height: 200px;
  text-align: center;
  color: black;
  box-shadow: 5px 10px black;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  border: 5px solid;
  border-image: linear-gradient(45deg, purple, orange) 1;
  // border-width: 10px;
  // border-style: solid;
  // border-radius: 5px;
}
