@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
}
