.header {
  .image {
    width: 180px;
    height: 180px;
    margin: 20px;
    padding: 20px;
    border-radius: 80px 80px;
  }
  .nav {
    // background: linear-gradient(to right, #6d7cff, #bcb8f0 60%);
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: 20px;
    // gap: 250px;
    font-size: 1em;
    font-weight: 600;
    border-bottom: solid 4px;
    border-image: linear-gradient(45deg, purple, orange) 1;

    a:hover {
      color: white;
      background-color: black;
      border-radius: 5px;
    }
    a,
    span + a {
      color: #030303;
      text-decoration: none;
      border: 1px solid black;
      border-radius: 5px;
      text-transform: uppercase;
      display: block;
      padding: 5px 10px;
      margin: 10px;
      transition-duration: 0.8s;
    }
    .login {
      border: solid black 1px;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: #030303;
      color: white;
    }
  }
}
.footer {
  background: linear-gradient(45deg, purple, orange);
  display: flex;
  height: 50px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;

  a:hover {
    color: #ff72ad;
    text-decoration: underline;
    background-color: #f1edff;
  }

  a,
  span + a {
    color: #030303;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
  }
}
