
.landing {

  display: flex;
  justify-content: center;
  padding: 20px 20px;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px;

  .description {
    border-radius: 5px;
    background-image: linear-gradient(#faf7ff, #aba9bb 90%);
    width: 610px;
    height: 410px;
    text-align: center;
    color: black;
  }
  .image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
}
