.login {
  display: flex;
  // border: solid black 1px;
  justify-content: center;
  // padding: 40px 40px;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.form {
  border-radius: 5px;
  background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  color: black;
  box-shadow: 5px 5px #f1edff;
  text-transform: uppercase;

  padding: 20px;
}

.loginButton {
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: #030303;
  color: white;
  text-transform: uppercase;
  // transition-duration: 0.4s;
}

.loginButton:hover {
  color: black;
  background-color: #f1edff;
  border-radius: 5px;
}
