@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }
}

.register {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 10px;
  padding: 90px;
  flex-wrap: wrap;
  overflow: scroll;
  height: 650px;
}

.form {
  width: 410px;
  height: 500px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  border: double 6px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, purple, orange);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 5px 10px black;
}

.input {
  border-radius: 5px;
}

.registerButton {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #030303;
  color: white;
  transition-duration: 0.5s;
}

.registerButton:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}
