.register {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 10px;
  padding: 90px;
  flex-wrap: wrap;
}

.form {
  border-radius: 5px;
  background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  width: 310px;
  height: 440px;
  text-align: center;
  color: black;
  box-shadow: 10px 10px #f1edff;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}

.input {
  border-radius: 5px;
}

.registerButton {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #030303;
  color: white;
  transition-duration: 0.5s;
}

.registerButton:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}
