.mainProfile {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  border-radius: 20px;
  // background-image: linear-gradient(#faf7ff, #aba9bb 90%);
  width: 310px;
  height: 700px;
  text-align: center;
  color: black;
  box-shadow: 5px 10px black;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  border: 6px solid #6d7cff;
}

.specializations {
  display: flex;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #f1edff;
  list-style: none;
}
